.tasksContainer {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.taskForm {
    margin-top: 2rem;
    text-align: center;
    background: var(--deep-black);
    padding: 3rem;
    border-radius: 2px;
    box-shadow: #302f2f 0px 8px 0px 0px;
}

.addBox {
    width: 100%;
    color: #fff;
}

.addBox .taskId {
    display: flex;
    justify-content: f;
    margin-bottom: 1rem;
}

.addBox label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.addBox label span {
    width: 20%;
    margin-right: .3rem;
    display: block;
    text-align: left;
}

.addBox input[type="text"] {
    all: unset;
    width: 80%;
    border: none;
    padding: 1rem 1.2rem;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid var(--light-gray);
    background: var(--dark-black);
}

.addBox input[type="text"]:focus {
    background: var(--light-black);
    border-bottom: 1px solid var(--dark-black);
}

.addBox input[type="text"]:placeholder {
    color: #606060;
}

button.formSubmit {
    text-align: center;
    all: unset;
    background: var(--yellow);
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 2px;
    color: var(--dark-gray);
    width: 20%;
    min-width: 80px;
    margin: 3rem auto 0;
    transition: all .4s ease-in-out;
}

button.formSubmit:hover {
    opacity: .8;
}

.editTitle {
    color: var(--yellow);
    margin-bottom: .3rem;
}

.editTitle span {
    display: block;
}

.editIdBox {
    text-align: left;
    margin-bottom: 2rem;
    color: #fff;
}

.editInputBox {
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
}

.editInputBox label {
    display: flex;
    flex-direction: column;
}

.editInputBox input[type="text"] {
    width: 100%;
    all: unset;
    padding: 1rem 1.2rem;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid var(--light-gray);
    background: var(--dark-black);
}

.editInputBox input[type="text"]:focus {
    background: var(--light-black);
    border-bottom: 1px solid var(--dark-black);
}

.editInputBox input[type="text"]:placeholder {
    color: #606060;
}

.editCheckboxBox {
    text-align: left;
}

.formAlert {
    font-size: 1rem;
    color: var(--yellow);
    margin-top: 1rem;
}

.formAlert ul li {
    list-style: none;
    margin-top: 1rem;
    color: var(--yellow);
}

.tasks {
    margin-top: 3rem;
}

.singleTask {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--deep-black);
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: #302f2f 0px 8px 0px 0px;
}

.taskName {
    display: flex;
}

.singleTask h2 {
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    line-height: 1;
}

.singleTask a {
    color: var(--yellow);
}

.singleTask .check {
    width: 20px;
    line-height: 1;
}

.singleTask:has(.check svg) h2 a {
    color: #6a6a6a;
    text-decoration: line-through;
}

.taskLinks a {
    color: #fff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.taskLinks button {
    all: unset;
    margin-left: .5rem;
    cursor: pointer;
    color: #fff;
    transition: all .4s ease-in-out;
}

.formSubmit {
    display: flex;
    justify-content: center;
    color: var(--yellow);
    margin: 3rem auto 0;
    transition: all .4s ease-in-out;
}

.formSubmit:hover {
    opacity: .8;
}