.tasks {
    margin-top: 3rem;
}

.singleTask {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--deep-black);
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: #302f2f 0px 8px 0px 0px;
}

.taskName {
    display: flex;
}

.singleTask h2 {
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
}

.singleTask a {
    color: #fff;
}

.taskLinks a {
    color: #fff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.taskLinks button {
    all: unset;
    margin-left: .5rem;
    cursor: pointer;
    color: #fff;
    transition: all .4s ease-in-out;
}